body {
  min-height: 2000px;
}
.jumbotron {
  padding-top: 4rem;
  background-color: #4682B4;
}

#galery {
  background-color: #4682B4;
}

section {
  padding-top: 5rem;
}

.no-decoration {
  text-decoration: none;
  color: black;
}
